extends ../layouts/index

block contenido
    div.py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            spa.font-normal Raices
        h2.text-center.text-3xl.font-extrabold= page

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow.rounded-md
                form.space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email registrado
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Contrase単a
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Contrase単a" type="password" name="password")
                    div.flex.items-center.justify-around
                        a.text-gray-500.text-xs(href="/auth/register") No tengo cuenta. 多Desea crear una?
                        a.text-gray-500.text-xs(href="/auth/forgotpassword") Olvide mi contrase単a
                    input(class="w-full bg-sky-600 hover:bg-sky-700 text-white font-bold py-2 cursor-pointer rounded-md" type="submit" value="Ingresar")